/* Created By Jawher Hamza (Otto Development) */

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui;
    font-weight: 200;
    line-height: 1.42857143;
    color: #999;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    src: local('Cookie-Regular'), url(cookie.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.navbar-brand {
    padding-top: 15px;
    font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    font-size: 35px;
    animation: blinker 3s linear;
    animation-iteration-count: 2;
    color: white;
}

.navbar {
    background-color: transparent;
    /* smoothly change navbar backgroub on scrolling */
    transition: 400ms;
}

.navbar-toggler {
    margin-right: 20px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

h3 {
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 24px;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#dash,
#dash2 {
    color: rgba(254, 82, 76, 1);
    font-size: 14px;
}

#myPic {
    margin-bottom: 20px;
    border-radius: 15px;
    width: 285px;
}

hr {
    height: 3px;
}

#portfolio {
    background: url(/img/portfolio.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.fadeInUp {
    animation-name: fadeInUp;
}

#home-section {
    background: url(/img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px;
    opacity: 0.95;
    background-attachment: fixed;
}

.content-section {
    border-top: 1px solid #cccccc;
    padding: 80px 10px 80px 10px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 21px;
    display: block;
    position: relative;
    padding-left: 90px;
    color: rgba(254, 82, 76, 1);
    border-left: 5px solid #eee;
    border-color: rgba(254, 82, 76, 1);
}

blockquote:before {
    content: "\"";
    font-size: 70px;
    font-family: FontAwesome;
    position: absolute;
    top: -8px;
    left: 20px;
}

blockquote span:before {
    content: '--';
    padding: 0 10px 0 0;
}

.nav-item {
    font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
}

footer :hover {
    text-decoration: none;
    color: rgba(254, 82, 76, 1);
}

footer {
    background: rgba(54, 53, 54, .96);
    padding-top: 15px;
}

footer a {
    font: 400 40px/0.8 'Cookie', Helvetica, sans-serif;
    color: white;
}

#cv a {
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
    color: rgba(254, 82, 76, 1);
    padding: 10px;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 4px;
}

a:hover {
    text-decoration: none;
    color: rgba(254, 82, 76, 1);
}

#cv a:hover {
    color: #FFF;
    border: none;
    text-decoration: none;
    background-color: rgba(254, 82, 76, 1);
}

.en-tete {
    text-align: center;
    margin-bottom: 40px;
}

.en-tete2nd {
    margin-bottom: 70px;
}

i {
    color: rgba(254, 82, 76, 1);
    padding-bottom: 20px;
}

.blocLeft {
    border-left: 5px solid #eee;
    border-color: rgba(254, 82, 76, 1);
}

.blocRight {
    border-right: 5px solid #eee;
    border-color: rgba(254, 82, 76, 1);
}

h2 {
    color: rgba(254, 82, 76, 1);
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
}


.caption {
    font-weight: 100;
    font-size: 16px;
    color: rgb(172, 170, 170);
}

blockquote span {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 100;
    color: #999;
}

.aa,
.bb {
    margin-bottom: 30px;
}

.copynote {
    background-color: rgba(0, 0, 0, 0.2)
}

.progress-title {
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.progress {
    height: 15px;
    background: #f1f1f1;
    margin-bottom: 15px;
}

.progress .progress-bar {
    position: relative;
    animation: animate-positive 2s;
}

.progress .progress-value {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    position: absolute;
    top: -30px;
    right: -25px;
}

.progress .progress-bar:after {
    content: "";
    display: inline-block;
    width: 10px;
    background: #fff;
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -5px;
    z-index: 1;
    transform: rotate(35deg);
}

/* titre bienvenue */
.display-4 {
    padding-top: 50px;
    color: white;
    font-family: system-ui;
    font-weight: 100;
}

#adress,
.contact-form h3 {
    color: rgba(254, 82, 76, 1)
}

.btncontact {
    min-width: 100%;
    font-size: 21px;
    color: #fff;
    background: rgba(254, 82, 76, 1);
    padding: 10px 30px;
    font-weight: 100;
}

.img-circle {
    border-radius: 50%;
    width: 330px;
    height: 330px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.passion-member {
    text-align: center;
}

.cpmtEl {
    text-align: center;
    margin-bottom: 35px;
    font-weight: 100;
}

.cpmtEl i {
    cursor: pointer;
    color: #999;
}

.cpmtEl i:hover {
    color: rgba(254, 82, 76, 1);
}

.item {
    cursor: grab;
}

.carrouselImg {
    height: 169px;
    width: 300px;

}